<html>
<head>

<title>Hello World</title>
<link rel="stylesheet" href="https://unpkg.com/sakura.css/css/sakura.css" type="text/css">
</head>
<body>
<h1>Hello, world!</h1>

<p>Here's some example text for this example website.
  Style from Sakura CSS, available at <a href="https://github.com/oxalorg/sakura">GitHub</a>.
  Sakura is a drop-in stylesheet for people like me who are not good at design. 💜</p>

<p>Hello world, hello pizza, hello donuts, hello kitty, hello python, hello Google App Engine.</p>
</body>
</html>
